<!DOCTYPE html>
<html lang="de">
    <head>
        <!-- Meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Das QR Bon Projekt">
        <meta name="author" content="Yorick Zeschke">
        <!-- Icon -->
        <link rel="icon" type="icon" href="{{ url_for('static', filename='res/favicon.ico') }}"  sizes="32x32">
        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}">
        <!-- JS -->
        <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
        <!-- Extendable template -->
        <title>{% block title %}{% endblock %} - QR Bon</title>
        {% block head %}{% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>