<!DOCTYPE html>
<!--Minimal homepage-->
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Startseite - QR Bon</title>

        <link rel="icon" href="{{ url_for('static', filename='res/favicon.ico') }}" type="icon" sizes="32x32">
        <!--<link rel="icon" href="{{ url_for('static', filename='res/favicon.svg') }}" sizes="any" type="image/svg+xml"> -->
    </head>

    <body>
        <h1>Dies ist die Startseite von QR Bon</h1>
        <h3>Das Projekt ist momentan noch in Arbeit (in der Programmierphase)<br>
        Bitte besuchen Sie diese Seite später noch mal.<br>QR-Bon ist ein Jugend Forscht Projekt, dessen Zweck es ist
        Papierverschwendung zu reduzieren, indem Kassenbons digitalisiert weden. Weitere Infos und Dokumentation werden
        hier erscheinen, wenn das Projekt funktioniert (momentan noch ein Prototyp)<br></h3>
        yorick.zeschke@gmx.de
        <br><br>
        <h4>Links:</h4>
        <ul>
            <a href="{{ url_for('login_page') }}">Anmelden</a><br>
            <a href="{{ url_for('register_page') }}">Registrieren</a>
        </ul>
    </body>
</html>